@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <i class="fa-solid fa-key" style="font-size: 3em;"></i>
    <h1 class="display-4">Welcome to The Vault</h1>
    <p style="text-align: center;">Your own password manager!<br>
    Keep your passwords safe and away from unwanted thefts.</p>
    <a class="btn btn-primary" href="@Url.Action("Index", "Password")">Open The Vault</a>
</div>
